<div class="post-form">

<div class="inner-post-form">
<h3>New Photo</h3>

<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image, accept: 'image/jpeg,image/jpg,image/gif,image/png' %>
  </div>
  <div class="field">
    <%= f.label :caption %><br>
    <%= f.text_field :caption %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

</div>

<script>
$(document).ready(function(){
  $('.new-post').click(function(){
    $('.hidden-form').show();
  });
  $('.hidden-form-bg').click(function(){
    $('.hidden-form').hide();
  });
});
</script>
