<i class="glyphicon glyphicon-remove remove-form"></i>
<div class="post-form">
<div class="inner-post-form">
<h3>New Photo</h3>

<%= form_for(post, remote: true) do |f| %>
<div id="error_explanation">
</div>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image, accept: 'image/jpeg,image/jpg,image/gif,image/png' %>
  </div>
  <div class="field">
    <%= f.label :caption %><br>
    <%= f.text_field :caption %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
</div>

</div>
