<% if user_signed_in? %>
Hi!
<% end %>

<p>
<% @posts.each do |post| %>
  <%= image_tag post.image.url %>
  <%= post.caption %>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</p>

<% if user_signed_in? && current_user.admin %>
<p><%= link_to 'New Post', new_post_path %></p>
<% end %>
