<!DOCTYPE html>
<html>
<head>
  <title>Photo Album</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? && current_user.admin %>
  <%= render 'layouts/navbar' %>
<% else %>
  <%= render 'layouts/header' %>
<% end %>

<%= yield %>

</body>
</html>
